<h2>Links</h2>
<ul>
    <li><a href="<%= links.brickset%>">Brickset</a></li>
    <li><a href="<%= links.rebrickable%>">Rebrickable</a></li>
    <li><a href="<%= links.bricklink%>">Bricklink</a></li>
</ul>