<h2>Rebrickable</h2>

<ul>
    <li>Pieces count: <%= rebrickable.num_parts %></li>
    <li>Description: <%= rebrickable.name %></li>
    <li>Theme: <%= rebrickable.theme%></li>
    <li>Year: <% rebrickable.year%></li>

    <img src="<%= rebrickable.set_img_url%>" />
</ul>
