<h2>Rebrickable</h2>

<ul>
    <li>Pieces count: <%= rebrickable.pieces %></li>
    <li>Description: <%= rebrickable.description %></li>
    <li>Theme: <%= rebrickable.theme%></li>
    <li>Year: <% rebrickable.year%></li>

    <img src="<%= rebrickable.img_sm%>" />
</ul>